* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Montserrat light, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 10px 0px 0px 0px;
}
a {
    text-decoration: none;
    color: #12284c;
    margin: 0;
    padding: 0;
}

.location a {
    text-decoration: none;
    color: #12284c;
}
#main_nav{
    position: sticky;
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: Montserrat Medium, sans-serif;
    color: #12284C;
    letter-spacing: 1px;
}
.top_part{
    display: flex;
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 40px;
    font-size: 10px;
}
.top_part > div {
    margin: 2px;
    flex-basis: 100%;
}
.bottom_part{
    font-size: 14px;
}

.navItem{
    display: flex;
    width: 80%;
    float: right;
    justify-content: space-around;
    align-items: center;
}
.navItem li a i,
.top_part .location a i {
    font-size: 20px;
}
ul {
    list-style-type: none;
}
.logo img {
    min-width: 190px;
    max-width: 200px;
    margin-left: 150px;
    margin-top: 15px;
}

.menu{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
