#main_container {
        width: 100%;
}

#customer_container {
        display: flex;
        flex-direction: row;
        /* padding: 0 5%; */
        width: 90%;
        margin: auto;
        margin-top: 40px;
}

#customer_info_div {
        width: 52%;
        padding-right: 5%;
        /* border: 1px solid blue; */
        text-align: center;
}

/* Aside page */
#sidepage_container {
        text-align: center;
        width: 42%;
        padding-left: 1%;
        /* border:1px solid red; */
        background-color: #f8f8f8;
        float: right;
}

/* Bluemercury Logo_Image */
#heading_image {
        max-width: 248px;
}

/* Navigation bar */
#navbar {
        display: flex;
        justify-content: center;
}

#navbar_text {
        color: #12284c;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 25px;
}

.arrow {
        font-weight: 500;
        font-size: 18px;
}

#main_contact_info_page {
        display: flex;
        flex-direction: column;
        text-align: left;
}

#Heading_contact_info {
        color: #12284c;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        line-height: 35px;
}

#email {
        color: #12284c;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 400;
        width: 70%;
        line-height: 48px;
        text-indent: 8px;
}


#checkbox_div {
        text-align: left;
        margin-top: 10px;
}

input#Email_checkbox {
        width: 16px;
        height: 18px;
}


#checkbox_text {
        color: #12284c;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 400;
        text-indent: 8px;
}

#Shipping_heading {
        color: #12284c;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        margin-top: 40px;
}

#name {
        color: #12284c;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
}

.Name {
        line-height: 42px;
        font-size: 16px;
        margin-top: 12px;
}

#first_name {
        width: 49%;
        text-indent: 8px;
}

#last_name {
        margin-left: 8px;
        width: 49%;
        text-indent: 8px;
}

.input_bar {
        color: #12284c;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        line-height: 42px;
        font-size: 16px;
        width: 99%;
        margin-top: 15px;
}

.input_bar> {
        width: 50%;
}

#input_3_bar {
        display: flex;
        flex-direction: row;
        color: #12284c;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        line-height: 20px;

        font-size: 14px;
}

#country_div {
        border: 1px solid rgb(77, 76, 76);
        flex-direction: column;
        width: 98%;
        padding-left: 12px;
        line-height: 42px;
}

#country {
        border: none;
        opacity: 0.70;

}

#state {
        opacity: 0.70;
        border: none;
        align-items: center;
        justify-content: center;
        justify-items: center;
        height: 45px
}

#city {
        width: 32%;
}

#state_div {
        border: 1px solid rgb(77, 76, 76);
        flex-direction: column;
        width: 32%;
        margin-left: 9px;
        margin-top: 15px;

}

#zipcode {
        width: 33%;
        margin-left: 9px;
        margin-top: 15px;
        height: 45px
}

#checkbox2_span {
        margin-top: 10px;
}

#checkbox2 {
        height: 18px;
        width: 18px;
}

#checkbox2_text {
        color: #12284c;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 16px;
}

#privacy_policy {
        color: #12284c;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        margin-top: 20px;
}

#form_bottom_line {
        float: left;
        margin-top: 15px;
}

#return_to_cart_text {
        color: #12284c;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 13px;
        margin-top: 15px;
        margin-left: 10px;
}

#Shipping_method {
        width: 60%;
        background-color: #12284c;
        height: 35px;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 14px;
        float: right;
        border-radius: 3px;
        margin-top: 10px;
}


/*  ASIDE PAGE CSS */

#aside_main_div {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
}

#Prod_row_1 {
        display: flex;
        flex-direction: row;

}

#Product_image_div {
        width: 95px;
        height: 88px;
        border-radius: 9px;
        background: #fff;
        position: relative;
}

#Prod_img {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        /* z-index: 1; */
}

#Prod_img_span {
        position: absolute;
        top: 2px;
        right: 1px;
        background-color: #5d7496;
        color: white;
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        border-radius: 50%;
}

#Product_description_div {
        text-align: left;
        font-family: 'Montserrat', sans-serif;
        color: #12284c;
        margin-left: 12px;
        width: 70%;
}

#prod_heading {
        font-size: 15px;
        margin-top: 0;
        margin-bottom: 0;
}

#prod_heading_text {
        font-size: 11px;
        margin-top: 0;
        font-weight: 500;
}

#price {
        margin-top: 25px;
        margin-left: 25px;
        font-size: 15px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        color: #12284c;
}

#Prod_row_2 {
        display: flex;
        flex-direction: row;
        width: 100%;
        border: 2px solid #12284c;
        margin-top: 30px;
        margin-bottom: 30px;
}

#promocode {
        width: 58%;
        line-height: 20px;
        text-align: left;
        margin-left: 10px;
}

#promocode_text1 {
        font-size: 10px;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
}

#promocode_text2 {
        opacity: 0.8;
        border: transparent;
        background-color: transparent;
        line-height: 2em;
        border: none;
        outline: none;
        font-size: 16px;
        width: 100%;
}

#apply_btn {
        width: 41%;
        background-color: #12284c;
        color: white;
        font-size: 16px;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
}

#Prod_row_3 {
        margin-top: 10px;
        border-top: 1px solid rgba(150, 149, 149, 0.9);
        padding-top: 25px;
        font-family: 'Montserrat', sans-serif;
        color: #12284c;
}

#Prod_subtotal_text {
        font-family: 'Montserrat', sans-serif;
        color: #12284c;

}

#subtotal_row1 {
        width: 100%;
        display: flex;
        flex-direction: row;
}

#subtotal {
        text-align: left;
        font-size: 16px;
        font-weight: 400;
}

#total_price {
        text-align: right;
        font-size: 16px;
        font-weight: 400;
        margin-left: 70%;
}

#subtotal_row2 {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 35px;
}

#shipping {
        text-align: left;
        font-size: 16px;
        font-weight: 400;
}

#calcutate {
        text-align: right;
        font-size: 16px;
        font-weight: 400;
        margin-left: 72%;
}


#subtotal_row3 {
        margin-top: 10px;
        border-top: 1px solid rgba(150, 149, 149, 0.9);
        padding-top: 25px;
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
}

#total {
        text-align: left;
        font-size: 17px;
        font-weight: 500;
}

#total_amount {
        text-align: right;
        font-size: 20px;
        font-weight: 500;
        margin-left: 58%;
}

#usd {
        font-size: 13px;
        font-weight: 400;
}