body {
        font-family: Montserrat Medium, sans-serif;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 1px;
        margin: 0px;
}

a {
        text-decoration: none;
        color: #12284c;
        margin: 0;
        padding: 0;
}

#customer_container {
        display: flex;
        flex-direction: row;
        /* padding: 0 5%; */
        width: 50%;
        margin-top: 40px;
        float: left;
}

#customer_info_div {
        width: 100%;
        /* margin-right: 5%; */

        /* border: 1px solid blue; */
        /* text-align: center; */
}

/* _____________________________________________________________ */
.contact_ship {
        float: left;
        width: 98%;
        margin-bottom: 20px;
        padding-left: 10px;
        padding-top: 10px;
        color: #12284c;
        font-family: Montserrat Regular, sans-serif;
        font-size: 14px;
}

.add {
        max-lines: 2;
        overflow: auto;
        width: 80% !important;
        margin-left: 10px;
        border-bottom: 1px solid rgb(209, 205, 205);
}

.action {
        float: right;
}

.contact_content {
        width: 94%;
        height: 100px;
        margin-left: 15px;
        margin-right: 15px;
        float: left;
        padding-right: 15px;
        border: 1px solid rgb(209, 205, 205);
        /* border-bottom: 1px solid rgb(209, 205, 205); */
}

.card {
        /* max-width: 574px; */
        width: 100%;
        height: 56px;
        background-color: white;
        border-bottom: 1px solid rgb(209, 205, 205);
        display: flex;
}

.radio {
        margin-top: 17px;
        margin-right: 20px;
        margin-left: 10px;
}

.lable-giff {
        margin-left: 150px;
        margin-right: 10px;
}

#pay_pal img {
        float: left;
        margin-left: -35px;
        margin-top: 15px;
        width: 100px;
        justify-content: center;
}

#klarna_img {
        width: 80px;
        height: 40px;
}

ul {
        list-style: none;
        display: flex;
}

.radioLabel {
        width: 400px;
        margin-top: 17px;
}

.class_label {
        color: #12284c;
        font-family: Montserrat Semi Bold, sans-serif;
        font-weight: 700;
        letter-spacing: .5px;
        text-transform: uppercase;
}

#payment_detail {
        width: 80%;
        margin: auto;
        margin-left: 200px;
}

#payment_input {
        width: 96%;
        background-color: rgb(240, 238, 238);
        padding: 2%;
}

.input_style {
        width: 99%;
        margin-bottom: 10px;
        height: 40px;
}

.input_style_2 {
        width: 49%;
        margin-bottom: 10px;
        height: 40px;

}

#card_detail {
        text-align: left;
        width: 98%;
        float: left;
        width: 98%;
        margin-bottom: 20px;
        margin-top: 20px;
        padding-top: 10px;
        color: #12284c;
        font-family: Montserrat Regular, sans-serif;
        font-size: 14px;
        border: 1px solid rgb(209, 205, 205);
}

/* _____________________________________________________________ */

/* Aside page */
#sidepage_container {
        text-align: center;
        width: 42%;
        padding-left: 1%;
        /* border:1px solid red; */
        background-color: #f8f8f8;
        float: right;
}

/* Bluemercury Logo_Image */
#heading_image {
        max-width: 248px;
        margin-left: 370px;
}

/* Navigation bar */
#navbar {
        display: flex;
        justify-content: center;
        margin-left: 230px;
}

#navbar_text {
        color: #12284c;
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 25px;
}

.arrow {
        font-weight: 500;
        font-size: 18px;
}

#main_contact_info_page {

        text-align: left;
        width: 99%;
        float: left;

        margin-bottom: 20px;
        padding-left: 10px;
        padding-top: 10px;
        color: #12284c;
        font-family: Montserrat Regular, sans-serif;
        font-size: 14px;
}

#Heading_contact_info {
        color: #12284c;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        line-height: 35px;
        clear: left;
        margin: 0PX;
}


#Shipping_heading {
        color: #12284c;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        margin-top: 40px;
}


#privacy_policy {
        color: #12284c;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 14px;
        margin-top: 20px;
}

#billing_add {
        border: 1px solid rgb(209, 205, 205);
        margin-top: 10px;
}

#form_bottom_line {
        float: left;
        width: 98%;
        margin-top: 15px;
}

#return_to_cart_text {
        color: #12284c;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 13px;
        margin-top: 15px;
        margin-left: 10px;
        float: left;
}

#Shipping_method {
        width: 40%;
        background-color: #12284c;
        height: 35px;
        color: white;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 14px;
        float: right;
        border-radius: 3px;
        margin-top: 10px;
}

/*  ASIDE PAGE CSS */

#aside_main_div {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
}

#Prod_row_1 {
        display: flex;
        flex-direction: row;
}

#Product_image_div {
        width: 95px;
        height: 88px;
        border-radius: 9px;
        background: #fff;
        position: relative;
}

#Prod_img {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        /* z-index: 1; */
}

#Prod_img_span {
        position: absolute;
        top: 2px;
        right: 1px;
        background-color: #5d7496;
        color: white;
        font-size: 15px;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        border-radius: 50%;
}

#Product_description_div {
        text-align: left;
        font-family: "Montserrat", sans-serif;
        color: #12284c;
        margin-left: 12px;
        width: 70%;
}

#prod_heading {
        font-size: 15px;
        margin-top: 0;
        margin-bottom: 0;
}

#prod_heading_text {
        font-size: 11px;
        margin-top: 0;
        font-weight: 500;
}

#price {
        margin-top: 25px;
        margin-left: 25px;
        font-size: 15px;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        color: #12284c;
}

#Prod_row_2 {
        display: flex;
        flex-direction: row;
        width: 100%;
        border: 2px solid #12284c;
        margin-top: 30px;
        margin-bottom: 30px;
}

#promocode {
        width: 58%;
        line-height: 20px;
        text-align: left;
        margin-left: 10px;
}

#promocode_text1 {
        font-size: 10px;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
}

#promocode_text2 {
        opacity: 0.8;
        border: transparent;
        background-color: transparent;
        line-height: 2em;
        border: none;
        outline: none;
        font-size: 16px;
        width: 100%;
}

#apply_btn {
        width: 41%;
        background-color: #12284c;
        color: white;
        font-size: 16px;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
        border: none;
}

#Prod_row_3 {
        margin-top: 10px;
        border-top: 1px solid rgba(150, 149, 149, 0.9);
        padding-top: 25px;
        font-family: "Montserrat", sans-serif;
        color: #12284c;
}

#Prod_subtotal_text {
        font-family: "Montserrat", sans-serif;
        color: #12284c;
}

#subtotal_row1 {
        width: 100%;
        display: flex;
        flex-direction: row;
}

#subtotal {
        text-align: left;
        font-size: 16px;
        font-weight: 400;
}

#total_price {
        text-align: right;
        font-size: 16px;
        font-weight: 400;
        margin-left: 70%;
}

#subtotal_row2 {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 35px;
}

#shipping {
        text-align: left;
        font-size: 16px;
        font-weight: 400;
}

#calcutate {
        text-align: right;
        font-size: 16px;
        font-weight: 400;
        margin-left: 72%;
}

#subtotal_row3 {
        margin-top: 10px;
        border-top: 1px solid rgba(150, 149, 149, 0.9);
        padding-top: 25px;
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
}

#total {
        text-align: left;
        font-size: 17px;
        font-weight: 500;
}

#total_amount {
        text-align: right;
        font-size: 20px;
        font-weight: 500;
        margin-left: 75%;
}

#usd {
        font-size: 13px;
        font-weight: 400;
}